@model Practice_bases.ViewModel.DetailsSupervisorOrgViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Details";
}

@{
    if (Model.isAdmin)
    {
        <form asp-action="DetailsSupervisorOrg" asp-controller="Search">
            <input type="hidden" asp-for="PhoneOrgNull"/>
            <input type="hidden" asp-for="SupervisorOrgNull"/>
            <input type="hidden" asp-for="MailSupervisorOrgNull"/>
            <input type="hidden" asp-for="PhoneOrg.Id"/>
            <input type="hidden" asp-for="SupervisorOrg.Id"/>
            <input type="hidden" asp-for="MailSupervisorOrg.Id"/>


            <div class="form-group">
                <h2 class="list-group-item-heading">Руководитель от техникума: </h2>
                <input type="text"
                       asp-for="SupervisorOrg.Name"
                       class="form-control"
                       placeholder="Руководитель от организации"/>
            </div>

            <div class="form-group">
                <p class="list-group-item-text">Телефон руководителя от техникума: </p>
                <input type="text"
                       asp-for="PhoneOrg.Title"
                       class="form-control"
                       placeholder="Телефон руководителя от организации"/>
            </div>

            <div class="form-group">
                <p class="list-group-item-text">Почта руководителя от техникума: </p>
                <input type="text"
                       asp-for="MailSupervisorOrg.Title"
                       class="form-control"
                       placeholder="Почта руководителя от организации"/>
            </div>

            <div class="form-group">
                <input type="submit" value="update" class="btn btn-default">
            </div>
        </form>
    }else{
        <div class="container-fluid">
            <p class="list-group-item-text">Руководитель от организации: @Model.SupervisorOrg.Name.</p>
            <p class="list-group-item-text">Телефон руководителя от организации: @Model.PhoneOrg.Title</p>
            <p class="list-group-item-text">Почта руководителя от организации: @Model.MailSupervisorOrg.Title</p>
        </div>
    }
}

